.Button {
    width: 50px;
    height: 20px;
    background-color: #ea5105;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    transition: all 300ms ease-out;
  }

.Button:not(:last-child) {
  margin-right: 10px;
}

.Button:hover,
.Button:active {
  cursor: pointer;
  background-color: rgb(23, 108, 164);
  box-shadow: none;
  transform: scale(0.95);
}

.Item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.Item:not(:last-child) {
    margin-bottom: 10px;
}