.Form {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #383838;
}

.Button {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 40px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    transition: all 300ms ease-out;
  }

.Button:not(:last-child) {
  margin-right: 10px;
}

.Button:hover,
.Button:active {
  cursor: pointer;
  background-color: rgb(23, 108, 164);
  box-shadow: none;
  transform: scale(0.95);
}